{% extends "base.html" %}
{% block content %}
    <p> In 1992, while running my own antique store, I would run the register, 
    sew during breaks, then go to work at night at a local emergency room. 
    I learned early on that owning a store front was very time consuming. <p>
    <p> In the internet age I've decided to break away and now I'm very excited 
    to continue my Vintage Angel business on 
    <a href="https://www.facebook.com/vintageangelAZ">Facebook</a> and 
    <a href="https://www.etsy.com/shop/vintageangeldotcom">Etsy</a>.</p> 
{% endblock %}
