<!DOCTYPE html>

<html>
    <head>
        <title>VintageAngel.com | Welcome</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',
            filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
            integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" 
            crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hand-made goods by Cynthia Wiggins">
        <meta name="author" content="J. Wiggins">
        <meta name="keywords" content="Memory bears, hand-made, handmade,
            bears, clothes, blankets, pillow, therapy, rabbits, custom">
    </head>

    <body>

        <header>
            <div class="container">

                <div id="title">
                    <h1>Vintage Angel</h1>
                </div>

                <div class="social_media">
                    <ul>
                        <li><a href="https://www.facebook.com/vintageangelAZ" 
                                target="_blank">
                                <i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://www.etsy.com/shop/vintageangeldotcom"
                               target="_blank">
                                <i class="fab fa-etsy"></i></a></li>
                        <li><a href="mailto:cynthia.wiggins@gmail.com">
                                <i class="fas fa-envelope"></i></a></li>
                </div>

                <div class="search">
                    <form method="get" action="https://www.google.com/search">
                        <input type="search" name="q"
                            placeholder="Search...">
                    </form>
                </div>
            </div>
        </header>

        <nav>
            <div class="container">
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="products">Products</a></li>
                    <li><a href="order">Order</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </nav>

        <section id="showcase">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </section>

        <section id="welcome">
            <div class="container">

            </div>
        </section>

        <footer>
            <div class="container">
                <p>&copy; 2018 Vintage Angel</p>
            </div>
        </footer>
    </body>
</html>
