{% extends "base.html" %}
{% block content %}
    <img src="/static/img/slideshow_01.jpg" alt="slideshow bear">
    <img src="/static/img/slideshow_02.jpg" alt="slideshow bear">
    <img src="/static/img/slideshow_03.jpg" alt="slideshow bear">
    <img src="/static/img/slideshow_04.jpg" alt="slideshow bear">
    <img src="/static/img/slideshow_05.jpg" alt="slideshow bear">
    <img src="/static/img/slideshow_06.jpg" alt="slideshow bear">
    <img src="/static/img/slideshow_07.jpg" alt="slideshow bear">
    <img src="/static/img/slideshow_08.jpg" alt="slideshow bear">
    <img src="/static/img/slideshow_09.jpg" alt="slideshow bear">
    <div>
        <p> Items sewn by hand in Queen Creek, AZ. 
            Your loved one's clothing, blankets, and more can be transformed into a
            loving keepsake. Choose a bear, bunny, lion, pillow, or custom item.</p>
    </div>
{% endblock %}
